.jumbtron>p, .page-header, #price-content>h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
}
nav{
    font-size:30px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    margin: 1% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    border: 2px;
    box-shadow: 2vh 1vh 3vh .5vh orange;
    background-color:black;
     
}
nav>a{
    color: white;
    margin-right: 3%;
    margin-top: 1%;
    text-decoration: none;
} 
body{
   background-color: maroon;
}
.top {
    background-color: black;
    color:#FDB913;
    height: 200px;
    border-bottom: 5px solid #FDB913;
}
.jumbtron {
    margin-right: 700px;
    background-color: inherit;
    color:  #FDB913;
    margin-top: 60px;
}
 
#about {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    color:  #FDB913;
}
h3{
    font-size: 50px;
    margin: 1% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    border: 2px;
    box-shadow: 2vh 1vh 3vh .5vh orange;
    background-color:black;
    color: orange;
    text-align: center;
}
h4{
    font-size: 50px;
    margin: 1% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    border: 2px;
    box-shadow: 2vh 1vh 3vh .5vh orange;
    background-color:black;
    color: orange;
    text-align: center;
}
h2{
    font-size: 50px;
    margin: 1% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    border: 2px;
    box-shadow: 2vh 1vh 3vh .5v orange;
    background-color:black;
}
.types{
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
      
}
h4{
    font-size: 50px;
    color:wheat ;
    border: 2px;
    box-shadow: 1vh 1vh 1vh .5vh pink;
    background-color:black;
}

.card {
    width: 80%;
    min-height: 40px;
    margin-top: 60px;
    box-shadow: 0px 8px 60px -10px orange;
    background:black;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
    color: orange;
    text-align: center;
    font-size: 30px;
    
}
     
h2 {
    text-align: center;
    color: #FDB913
}
.order {
    margin-left: 100px;
    margin-right: 100px;
    color: #FDB913
  }
#submit-pizza {
    float: right;
    margin-right: 200px;
    color: #FDB913
}
#price-content {
    text-align: center;
    color: #FDB913
}
#order-details {
    border: 2px solid black;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 10px;
    padding-right: 50px;
    border-style: dashed;
    color: #FDB913
}
#order-details>h5, h5 {
    font-family: 'Kaushan Script', cursive;
}
#checkout-btn{
    
}
.footer {
    text-align: center;
    font-size: 25px;
    color: #FDB913
}
.footer-link {
    color: #FDB913
}
 
.back h5{
    color:#FDB913;
    text-align: center;
    margin-left: 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
}
 
 
.banner{
    color: #FDB913;
    background-image: url("https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/168964.jpg");
    background-size: cover;
    height: 600px;
}
.banner h1{
    border-top: 6px double bisque;
    border-bottom: 6px double bisque;
    animation: fromLeft;
    animation-duration: 4s; 
    animation-delay: 1.125s;
    opacity: 0;
    animation-fill-mode: forwards;
    text-align: center;
    margin-top: 100px;
}
@keyframes fromLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
#amount{
    margin-left: 35%;
}
